body {
    background-color: gray;
}

main {
    background-color: black;
    font: 20pt monospace;
    color: aqua;
    width: auto;
    height: auto;
    border-radius: 10px;
}

h1 {
    font: 30pt arial;
    color: cyan;
    float: center;
    text-align: center;
}

h2 {
    font: 25pt arial;
    color: cyan;
    text-align: center;
}

hr {
    background-color: gray;
    color: gray;
    height: 5px;
    width: auto;
}

small {
    font: 10pt arial;
}