body {
    background-color: forestgreen;
    color: crimson;
    font: 20pt arial;
}

h1 {
    color: red;
    font: 35pt arial;
}

h2 {
    color: crimson;
    font: 30pt arial;
}

main {
    background-color: rgb(0, 39, 10);
    margin: auto;
    width: 1000px;
    height: auto;
    box-shadow: 4px, 4px, 6px rgb(0, 0, 0);
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300pt;
    box-shadow: white 3px, 3px, 5px;
}

.right {
    float: right;
    height: 35px;
    width: 45px;
}

.left {
    float: left;
    height: 35px;
    width: 45px;
}

audio {
    background-color: forestgreen;
    float: right;
}